::-moz-selection {
	background: #e6e6e6;
}
::selection {
	background: #e6e6e6;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

li {
	list-style: none;
}
li:before {
	margin: 4px;
}

.type {
	border: 0 !important;
}

.stat-bar {
	transition: width 0.25s ease-out;
	border-bottom-right-radius: 16px;
	height: 16px;
}

.gender-bar {
	height: 12px;
	width: 200px;
	display: inline-block;
}
.gender-bar.female {
	background-color: #c66;
	border-right: 0;
}
.gender-bar.male {
	background-color: #66c;
}

hr {
	border-color: #eee;
}

h3 {
	font-weight: lighter;
	letter-spacing: 1px;
	margin-bottom: 12px;
}

.pokemon-img {
	width: 120px;
}

.container {
	margin-top: 0px;
	margin-bottom: 32px;
	padding: 32px;
	background-color: #fff;
}
body {
	background-color: #e6e6e6;
}

nav {
	color: #fff;
	background-color: #933;
}

span.type {
	border-radius: 0;
	font-weight: bold;
}

#search-input,
#search-btn {
	background-color: white;
	border-radius: 0;
	border: 1px solid white;
}

#search-btn:hover {
	background: #333;
}

.clickable-text {
	color: #666;
	font-weight: bold;
	cursor: pointer;
	padding: 8px;
}

.clickable-text:hover {
	background-color: #ccc;
}

.modal-content {
	border-radius: 0;
	border: none;
}

a,
a:hover {
	color: #fff;
}

/*typeahead*/
.tt-menu {
	/*margin-left: 0px;*/
}
.tt-suggestion {
	background-color: #333;
	color: #fff;
	padding: 10px;
	cursor: default;
}
.tt-highlight {
	padding-top: 1px;
	padding-bottom: 1px;
}
.tt-suggestion:hover,
.tt-highlight,
.tt-cursor {
	background-color: #666 !important;
}

@media (min-width: 768px) {
	.mobile-only {
		display: none;
	}
	.container {
		margin-top: 32px;
	}
	.main.pokemon-img {
		width: 240px;
	}
}
